<a href="https://colab.research.google.com/github/UMA314159/-morning4-Image-Classification/blob/main/0%E3%81%8B%E3%82%89%E4%BD%9C%E3%82%8B%E3%83%87%E3%82%A3%E3%83%BC%E3%83%97%E3%83%A9%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0%E5%8F%82%E8%80%83.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#google ColabのDriveモジュールをインポートして、Googleドライブをマウントする許可を実行する。
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Zipfileを解凍
import zipfile

#with zipfile.ZipFile('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/test_images.zip' , 'r') as zip_ref:
#    zip_ref.extractall('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/test_images/')

In [ ]:
#with zipfile.ZipFile('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/train_images.zip' , 'r') as zip_ref:
#    zip_ref.extractall('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/train_images/')

In [ ]:
#データ処理ライブラリ
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , accuracy_score

# 画像処理ライブラリ
import cv2

#可視化ライブラリ
import matplotlib.pyplot as plt

#keras
import keras as ks
from keras.models import Sequential
from keras.layers import Dense , Dropout , Flatten , Conv2D , MaxPooling2D
from keras.utils import np_utils

#Pythonモジュール
import os
import glob

#表示設定
pd.options.display.max_rows = 78
pd.options.display.max_columns = 78

In [ ]:
#label_dataの確認
labels = pd.read_table('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/label_master.tsv' , index_col=0)
labels

         label_name
label_id
0          airplane
1              bird
2               car
3               cat
4              deer
5               dog
6             horse
7            monkey
8              ship
9             truck

In [ ]:
#sampl_submitデータ
sample = pd.read_table('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/sample_submit.tsv' , index_col = 0)
sample

               3
test_0.jpg
test_1.jpg     8
test_2.jpg     3
test_3.jpg     3
test_4.jpg     2
test_5.jpg     6
...           ..
test_7995.jpg  7
test_7996.jpg  5
test_7997.jpg  4
test_7998.jpg  8
test_7999.jpg  4

[7999 rows x 1 columns]

In [ ]:
#train_labelデータの確認
train_label = pd.read_table('/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/train_master.tsv' , index_col = 0)
train_label

                label_id
file_name
train_0.jpg            1
train_1.jpg            5
train_2.jpg            1
train_3.jpg            6
train_4.jpg            3
...                  ...
train_4995.jpg         1
train_4996.jpg         5
train_4997.jpg         1
train_4998.jpg         7
train_4999.jpg         5

[5000 rows x 1 columns]

In [16]:
test_path = '/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/test_images/test_images'
train_path = '/content/drive/MyDrive/Colab Notebooks/-morning4-SIGNATE-画像ラベリング/data/train_images/train_images'

In [15]:
train_label.index[0]

'train_0.jpg'